!!!
%html
  %head
    %title Burning Clock
    %link{:rel => "stylesheet", :type => "text/css", :href => "/stylesheets/main.css"}
  %body
    %div.container
      %p.intro The Man burns in
      %p.days= "#{@days} days"
