@import url(http://fonts.googleapis.com/css?family=Molengo&subset=latin)

body
  font-size: 62.5%
  padding: 100px 20% 0 20%
  margin: 0
  width: 60%
  background: black
  color: white
  font-family: Molengo, Arial, Verdana, Sans, Sans-Serif
  text-align: center

p.beginning
  font-size: 2em
  margin-bottom: -16px

p.middle
  margin: 0
  font-size: 18em
  font-family: Georgia, "Palatino Linotype", Serif, Times, "Times New Roman"

p.end
  margin-top: 12px
  font-size: 4.8em
